//-- Mixin for Common styles
//------------------------------------------------------

@mixin background($bgSize: cover, $bgPosition: 0 0) {
  background: {
    size: $bgSize;
    position: $bgPosition;
    repeat: no-repeat;
  }
}

@mixin clearfix {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin last-child() {
  &:last-child {
    margin-bottom: 0;
  }
}

@mixin display-inline($display-inline-align) {
  display: inline-block;
  vertical-align: $display-inline-align;
}

@mixin text-overflow($text-width) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: $text-width;
}

//------------------Mixin for hover, focus, disabled styles

@mixin hover-styles() {
  &:hover,
  &:focus {
    @content;
  }
}

@mixin hover-active-styles() {
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}

@mixin disabled() {
  &.disabled,
  &[disabled] {
    @content;
  }
}

@mixin focus-links-styles($focus-color: #333) {
  &:focus {
    outline: 1px dotted $focus-color;
  }
}

//------------------Mixin for sizes

@mixin size($size) {
  $height: nth($size, 1);
  $width: $height;

  @if length($size) > 1 {
    $width: nth($size, 2);
  }

  height: $height;
  width: $width;
}

//------------------Border

@mixin border($border-position) {
  @if ($border-position == all) {
    border: $border-width $border-style $border-color;
  } @else if ($border-position == top) {
    border-top: $border-width $border-style $border-color;
  } @else if ($border-position == bottom) {
    border-bottom: $border-width $border-style $border-color;
  } @else if ($border-position == left) {
    border-left: $border-width $border-style $border-color;
  } @else if ($border-position == right) {
    border-right: $border-width $border-style $border-color;
  }
}
