///-- Lists
////------------------------------------------------------

.list {
  &-item {
    position: relative;
    @extend %text-center;
  }

  &-inline {
    .list-item {
      display: inline-block;

      + .list-item {
        margin-left: 30px;
      }
    }
  }
}
