///-- Lists
////------------------------------------------------------

.list {
  &__item {
    position: relative;
    @extend %text-center;
  }

  &_inline {
    .list__item {
      display: inline-block;

      + .list__item {
        margin-left: 30px;
      }
    }
  }
}
